* {
    text-align: center;
    font-family: cursive;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.box {
    border: 1px solid red;    
    margin: auto;
    display: none;
}

#b1  {
    width: 960px;
    height: 400px;
    background-color: black;
    color: wheat;
}
#b2  {
    width: 720px;
    height: 400px;
    background-color: crimson;
    color: wheat;
}
#b3  {
    width: 400px;
    height: 400px;
    background-color: green;
    color: wheat;
}

@media only screen and (min-width:992px) {
    #b1 {
        display: block;
    }    
}
@media only screen and (max-width:991px) and (min-width:768px) {
    #b2 {
        display: block;
    }    
}
@media only screen and (max-width:767px) {
    #b3 {
        display: block;
    }    
}